[submodule "src/AvaloniaVS"]
	path = src/AvaloniaVS
	url = git@github.com:microhobby/AvaloniaVS.git
[submodule "src/SolutionParser"]
	path = src/SolutionParser
	url = git@github.com:microhobby/SolutionParser.git
